<mat-selection-list [multiple]="false">
  <mat-list-option *ngFor="let proffession of proffessionList">
    <h4>{{ proffession.name }}</h4>

    <span>
      <strong>majętność:</strong> {{ proffession.wealth[0] }} -
      {{ proffession.wealth[1] }}
    </span>

    <span> <strong>umiejętności:</strong> {{ proffession.skills }} </span>

    <span>
      <strong>do wydania z profesji:</strong>
      {{ proffession.pointsProffesion }}
    </span>

    <span>
      <strong>do wydania z hobby:</strong> {{ proffession.pointsHobby }}
    </span>

    <span>
      <strong
        >do wydania w sumie:
        {{ proffession.pointsHobby + proffession.pointsProffesion }}
      </strong>
    </span>
  </mat-list-option>
</mat-selection-list>
