<div class="name">
  <mat-checkbox [checked]="skill.checked" color="primary">
    {{ skill.name }}
  </mat-checkbox>
</div>

<div class="full" *ngIf="skill.disabled">
  {{ skill.value }}
</div>

<div class="full" *ngIf="!skill.disabled">
  <input
    type="number"
    [min]="skill.baseValue"
    max="99"
    [ngModel]="skill.value"
    (change)="update($event)"
  />
  <button (click)="reset()">X</button>
</div>

<div class="half">
  {{ skill.value | half }}
</div>

<div class="extreme">
  {{ skill.value | extreme }}
</div>
