@import "src/app/share/components/attribute/attribute-single/attribute.component.scss";
:host {
  width: min-content;
  grid-template-columns: calc(100% - 7rem) 5rem 2rem;
}
.name {
  width: 15rem;
}
.full {
  input {
    max-width: 45px;
  }
  button {
    z-index: 3;
    position: relative;
  }
}
