<!-- 
    cechy        - attributes
    umiejetnosci - skills
    uzbrojenie   - equipment
 -->
 <button (click)="generateAttributes()">Generuj</button>
 
 <div class="content">

   <div class="attributes">
      <coc-attribute  *ngFor="let attribute of attributeList " [attribute]="attribute"></coc-attribute>
   </div>

   <div class="stats">
      <coc-stat  *ngFor="let stat of statList " [stat]="stat"></coc-stat>
   </div>
   
   <div class="skills">
      <coc-skill  *ngFor="let skill of skillList" [attribute]="skill"></coc-skill>
   </div>
</div>
<div class="proffessions">
   <ul>
      <li *ngFor="let proffession of proffessionList">
         <strong>nazwa:</strong> {{proffession.name}} <br>
         <strong>majętność:</strong> {{proffession.wealth[0] }} - {{proffession.wealth[1] }} <br>
         <strong>umiejętności:</strong> {{proffession.skills}} <br>
         <strong>do wydania z profesji:</strong> {{proffession.pointsProffesion}} <br>
         <strong>do wydania z hobby:</strong> {{proffession.pointsHobby}} <br>
         <strong>do wydania w sumie: {{proffession.pointsHobby + proffession.pointsProffesion }} </strong> <br>

      </li>
   </ul>
   {{proffessionList.length}}
</div>