<!-- 
    cechy        - attributes
    umiejetnosci - skills
    uzbrojenie   - equipment
 -->
 <button (click)="generateAttributes()">Generuj</button>
 
 <div class="content">

   <div class="attributes">
      <coc-attribute  *ngFor="let attribute of attributeList " [attribute]="attribute"></coc-attribute>
   </div>

   <div class="stats">
      <coc-stat  *ngFor="let stat of statList " [stat]="stat"></coc-stat>
   </div>
   
   <div class="skills">
      <coc-skill  *ngFor="let skill of skillList" [attribute]="skill"></coc-skill>
   </div>
</div>