<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
  <mat-step>
    <ng-template matStepLabel>Wygeneruj Atrybuty</ng-template>
    <coc-attributes-section [enable-roll]="true"></coc-attributes-section>
    <div>
      <button mat-button matStepperNext>Dalej</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Wybierz profesję</ng-template>
    <coc-professions-section></coc-professions-section>
    <div>
      <button mat-button matStepperPrevious>Powrót</button>
      <button mat-button matStepperNext>Dalej</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Rozdaj puntky profesji</ng-template>

    <div>
      <button mat-button matStepperPrevious>Powrót</button>
      <button mat-button matStepperNext>Dalej</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Rozdaj puntky hobby</ng-template>

    <div>
      <button mat-button matStepperPrevious>Powrót</button>
      <button mat-button matStepperNext>Dalej</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Podsumowanie</ng-template>
    <button mat-button>Zapisz</button>
    <div>
      <button mat-button matStepperPrevious>Powrót</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
