/* You can add global styles to this file, and also import other style files */
@import "/src/assets/vars";

html,
body {
  height: 100%;
  background-color: #00000054;
  color: $txt;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
